---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="blog-page  typeset">

    <header class="page-header">
      {% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
      <h1>{{ collectiondata.title }}</h1>
      {% if collectiondata.description %}
        <p class="page-header__desc">{{ collectiondata.description }}</p>
      {% endif %}
    </header>

    {% include post-list.html %}

  </div>

</main>

{% include site-footer.html %}